<!-- Toolbar -->
<div class="toolbar" role="banner" #stickyMenu [class.sticky] = "sticky">
  <div class="toolbar__content-image">
    <img
      src="../../../assets/images/{{namePhoto}}.png"
      class="toolbar__logo"

    />
  </div>
  <div class="toolbar__container-menu">
    <ul class="toolbar__content-menu">
      <li>
        <a href="#we-are">we are</a>
      </li>
      <li>
        <a href="#we-do">we do</a>
      </li>
      <li>
        <a href="#careers">careers</a>
      </li>
      <li>
        <a href="#contact-us">contact us</a>
      </li>
    </ul>
  </div>
</div>
