<div class="container-page" id="we-are">
  <div class="container-page__content-text">
    <div class="content">
      <h3>we <br> are.</h3>
      <p>Consectetur adipiscing elit.<br>
      Nulla condimentum tortor sem.</p>
      <div class="container-page__content-button">
        <button>
          THE PLAYERS
          <mat-icon>
            chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-page-two" id="we-do">
  <div class="container-page__content-text-second">
    <div class="content">
      <h3>we <br> do.</h3>
    <p>Consectetur adipiscing elit.<br>
      Nulla condimentum tortor sem.</p>
      <div class="container-page-two__content-button">
        <button>
          THE PROJECTS
          <mat-icon>
            chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container-page-three" id="careers">
  <div class="container-page__content-text">
    <div class="content">
      <h3>careers.</h3>
      <p>Consectetur adipiscing elit.<br>
        Nulla condimentum tortor sem.</p>
        <div class="container-page__content-button">
          <button>
            THE POSITIONS
            <mat-icon>
              chevron_right</mat-icon>
          </button>
        </div>
    </div>
  </div>
</div>
