<div class="container-footer">
  <div class="content-image">
    <img src="../../../assets/images/logo-playground-white.png" alt="Logo azienda">
  </div>
  <div class="container-menu">
    <ul class="container-menu__content-menu">
      <li>
        <a href="#we-are">we are</a>
      </li>
      <li>
        <a href="#we-do">we do</a>
      </li>
      <li>
        <a href="#careers">careers</a>
      </li>
      <li>
        <a href="#contact-us">contact us</a>
      </li>
    </ul>
  </div>
</div>
